* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
:root {
  --green: #37a000;
  --silver: #f9f9f9;
  --grey: #222222;
  --lightGreen: #6fda44;
  --lightGrey: #656565;
  --grassGreen: #008329;
}
header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  background-color: white;
}
header .content {
  width: 85%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .content .leftSec {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
}
header .content .rightSec {
  height: inherit;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rightSec a {
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #666;
  letter-spacing: 0.5px;
}
.rightSec a:hover {
  color: var(--green);
}
header input {
  width: 320px;
  height: 40px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  outline: none;
  padding-left: 5px;
}
input::placeholder {
  text-transform: capitalize;
  letter-spacing: 1.5px;
}
button {
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  background-color: var(--green);
  transition: all 0.3s;
}
button:hover {
  box-shadow: 0 2px 10px 1px rgba(57, 73, 76, 0.4),
    0 1px 2px rgba(57, 73, 76, 0.25);
}
#btnSignUp {
  width: 94px;
  height: 30px;
}
.category {
  width: 100%;
  height: 40px;
  background-color: var(--silver);
  /* position: absolute; */
  /* margin-top: 4.5em; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.category ul {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.category li {
  list-style-type: none;
  font-size: 13px;
  line-height: 12px;
  font-weight: 400;
  color: var(--grey);
  text-transform: capitalize;
}
.category li a {
  font-size: inherit;
  color: inherit;
}
main {
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  background: url(images/xl.a3b65c62e4d6.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  /* margin-top: 5em; */
}
main .content {
  width: 85%;
  height: 340px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
main h1 {
  width: 40%;
  font-size: 52px;
  line-height: 52px;
  font-weight: 700;
  color: var(--lightGreen);
}
#white {
  color: white;
}
main p {
  width: 40%;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: white;
}
#btnGetStarted {
  width: 150px;
  height: 40px;
  background-color: var(--green);
  color: white;
}
#btnWatchDemo {
  width: 150px;
  height: 40px;
  background-color: white;
  color: var(--green);
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.talent {
  height: 580px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--grey);
  background-color: var(--silver);
}
.talent a {
  color: var(--grey);
}
.talent .talentRow {
  width: 85%;
  height: 190px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 2em 0 2em 0;
}
.talentRow .talentCol {
  height: 190px;
  width: 260px;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.talentCol img {
  width: 260px;
}
.talentCol .content {
  width: 282px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.business {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.business .content {
  width: 85%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}
.scope {
  height: 290px;
  width: 100%;
  background-color: var(--silver);
  display: flex;
  justify-content: center;
  align-items: center;
}
.scope .content {
  height: 190px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scope .scopeRow {
  height: 190px;
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #e0e0e0;
  background-color: white;
}
.scope .scopeCol {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: var(--grey);
}
.scope .hr {
  height: 8px;
  width: 35px;
  background-color: var(--green);
}
.scope p {
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
}
.scope .verHr {
  height: 150px;
  border-right: 1px solid #e0e0e0;
}
.howItWorks {
  height: 460px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--grey);
}
.howItWorks h1 {
  font-size: 35px;
  line-height: 43px;
  font-weight: 700;
}
.howItWorks .howItWorksRow {
  width: 85%;
  height: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}
.howItWorks .howItWorksCol {
  height: 230px;
  width: 262px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.howItWorksCol p {
  width: 260;
  height: 84px;
  text-align: center;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
}
.offerings {
  height: 845px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--silver);
  color: var(--grey);
}
.offerings h1 {
  font-size: 35px;
  line-height: 43px;
  font-weight: 700;
}
.offerings p {
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  margin: 2em 0 2em 0;
  color: var(--lightGrey);
}
.offerings .offeringsRow {
  height: 520px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offeringsRow .offeringsCol {
  height: inherit;
  width: 264px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
}
.offeringsCol .cat {
  height: 194px;
  width: inherit;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}
#btnCat {
  width: 150px;
  height: 40px;
}
.offeringsCol .description {
  width: inherit;
  height: 325px;
}
.offeringsCol .description p {
  width: 200px;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  margin: 1.5em 1.5em 0 1.5em;
  color: var(--grey);
}
.offeringsCol .description a {
  font-size: inherit;
  color: var(--green);
  margin: 0;
}
.offerings .notice {
  height: 40px;
  width: 90%;
  margin-top: 3em;
}
.offerings .notice p {
  text-align: left;
  margin: 0;
}
.ratings {
  height: 130px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ratings a {
  width: 100%;
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#grey {
  color: var(--lightGrey);
}
.message {
  height: 500px;
  width: 100%;
  background-color: var(--lightGrey);
  display: flex;
  justify-content: center;
  align-items: center;
}
.message .content {
  height: 300px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.message .col {
  height: 220px;
  width: 490px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.message img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
#italic {
  font-style: italic;
}
.message h1 {
  font-size: 40px;
  line-height: 43px;
  font-weight: 700;
  color: white;
}
.message p {
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  color: #a0a0a0;
}
.message iframe {
  width: 550px;
  height: 310px;
}
.skills {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--silver);
  color: var(--grey);
}
.skills .content {
  width: 85%;
  height: 280px;
  margin: 2em 0 2em 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.skills .content .skillsRow {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: space-between;
}
.skillsRow .skillsCol {
  width: 270px;
  height: 100%;
}
.skillsCol ul {
  height: inherit;
}
.skillsCol li {
  list-style: none;
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  color: var(--grey);
  margin-top: 0.5em;
  letter-spacing: 0.5px;
}
.skillsCol a {
  font-size: inherit;
  color: inherit;
}
.skillsCol a:hover {
  color: var(--grassGreen);
  text-decoration: underline;
}
